name: Docker CI

on:
  pull_request:
    branches: ['main']
    paths: ['Dockerfile','*.go','go.*','.github/workflows/ci-docker.yml']

env:
  GHCR_IMAGE_NAME: ghcr.io/blinklabs-io/nview

permissions:
  contents: read

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: '0'
      - name: qemu
        uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3
      - id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.GHCR_IMAGE_NAME }}
      - name: build
        uses: docker/build-push-action@v6
        with:
          context: .
          push: false
          platforms: linux/amd64,linux/arm64
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            VERSION=${{ github.ref_type == 'tag' && github.ref_name || '' }}
            COMMIT_HASH=${{ github.sha }}
