name: go-test

on:
  push:
    tags:
      - v*
    branches:
      - main
  pull_request:

jobs:
  go-test:
    name: go-test
    strategy:
      matrix:
        go-version: [1.20.x, 1.21.x]
        # XXX: is it actually useful to run unit tests on macOS?
        platform: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version: ${{ matrix.go-version }}
      - name: go-test
        run: go test ./...
